<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>@ViewData["Title"] - Розумні витрати</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/smart_expenses_web_app.styles.css" asp-append-version="true"/>
</head>

<body>

<header class="border-bottom py-3 mb-4">
    <div class="container">
        <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <div class="col-md-3 mb-3">
                <a class="navbar-brand d-inline-flex" asp-area="" asp-page="/Index">Розумні витрати</a>
            </div>

            <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active px-2" asp-area="" asp-page="/Index">Головна</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2" asp-area="" asp-page="/Transaction/Index">Транзакції</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2" asp-area="" asp-page="/Account/Index">Рахунки</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-2" asp-area="" asp-page="/About">Про нас</a>
                </li>
            </ul>

            <div class="col-md-3">
                <partial name="_LoginPartial"/>
            </div>
        </nav>
    </div>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="py-3 my-4 border-top">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Розумні витрати, Барабаш В. О.</span>
        </div>
        
        <a asp-area="" asp-page="/Privacy">Конфіденційність</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>