@page
@model smart_expenses_web_app.Pages.About

@{
    ViewData["Title"] = "Про нас";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card mt-5 mb-3">
        <div class="card-body">
            <div class="card-header display-6">
               Веб-додаток "Розумні витрати"
            </div>
        </div>
    </div>

    <div class="card mt-5 mb-3">
        <div class="card-body">
            <div class="card-header">
                Наша місія:
            </div>

            <div class="card-text">
                "Розумні витрати" - це інноваційний і дружелюбний до користувача додаток, який допомагає вам ефективно керувати своїми фінансами та зробити ваші витрати розумнішими.
                Ми віримо, що кожна людина заслуговує стабільні фінанси та можливість розумно розпоряджатися своїми коштами.
            </div>
        </div>
    </div>

    <div class="card mt-5 mb-3">
        <div class="card-body">
            <div class="card-header">
                Наш підхід:
            </div>

            <div class="card-text">
                У "Розумних витратах" ми ставимо свою місію в центр наших дій. Наш додаток розроблено з урахуванням потреб сучасного користувача, і має простий та інтуїтивно зрозумілий інтерфейс.
                Ми допомагаємо вам створювати бюджети, відстежувати витрати, аналізувати фінансові звіти та робити збалансовані фінансові рішення.
            </div>
        </div>
    </div>
    
    <div class="card mt-5 mb-3">
        <div class="card-body">
            <div class="card-text">
                Ми прагнемо створити сприятливе фінансове середовище для наших користувачів та сприяти їхньому успіху в досягненні фінансового благополуччя.
                "Розумні витрати" - це ваш надійний партнер у світі фінансів!
            </div>
        </div>
    </div>
</div>