@page
@model ErrorModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">@ViewData["Title"].</h1>
<h2 class="text-danger">Виникла помилка під час опарцювання запиту.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
    </p>
}