@page
@model smart_expenses_web_app.Pages.Transaction.CreateModel

@{
    ViewData["Title"] = "Створити транзакцію";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mx-auto">
                <h4 class="card-header">Транзакція</h4>
                <div class="card-body">
                    <div class="card-text">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            
                            <div class="form-group visually-hidden">
                                <label asp-for="Transaction.UserId" class="control-label"></label>

                                <input asp-for="Transaction.UserId" class="form-control" value="@Model.UserId"/>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.AccountId" class="control-label"></label>
                                
                                <select asp-for="Transaction.AccountId" class ="form-control" asp-items="Model.AccountsSelectList"></select>
                                
                                <span asp-validation-for="Transaction.AccountId" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.TransactionType" class="control-label"></label>
                                
                                <select asp-for="Transaction.TransactionType" class="form-control" asp-items="Model.TransactionTypesSelectList"></select>
                                
                                <span asp-validation-for="Transaction.TransactionType" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.Title" class="control-label"></label>
                                
                                <input asp-for="Transaction.Title" class="form-control" />
                                
                                <span asp-validation-for="Transaction.Title" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.Amount" class="control-label"></label>
                                
                                <input type="number" step="0.01" asp-for="Transaction.Amount" class="form-control" />
                                
                                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.CurrencyCode" class="control-label"></label>
                                
                                <select asp-for="Transaction.CurrencyCode" class="form-control" asp-items="Model.CurrencyCodesSelectList"></select>
                                
                                <span asp-validation-for="Transaction.CurrencyCode" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.DateTime" class="control-label"></label>
                                
                                <input type="date" asp-for="Transaction.DateTime" class="form-control" />
                                
                                <span asp-validation-for="Transaction.DateTime" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="Transaction.Description" class="control-label"></label>
                                
                                <input asp-for="Transaction.Description" class="form-control" />
                                
                                <span asp-validation-for="Transaction.Description" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <input type="submit" value="Сторити" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card-footer">
                    <a asp-page="Index">Повернутись назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
